{% load static wagtailcore_tags %}

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <strong>SCN</strong>
            </a>
            
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="genericNavbarMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="genericNavbarMenu" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    Accueil
                </a>

                {% for menuitem in site_root.get_children.live.in_menu %}
                    <a class="navbar-item" href="{% pageurl menuitem %}">
                        {{ menuitem.title }}
                    </a>
                {% endfor %}
            </div>

            <div class="navbar-end">
                {% if user.is_authenticated %}
                    <div class="navbar-item">
                        <span>{{ user.username }}</span>
                    </div>
                    {% if user.is_staff %}
                        <a class="navbar-item" href="/admin/">Admin</a>
                    {% endif %}
                    <a class="navbar-item" href="/logout/">Déconnexion</a>
                {% else %}
                    <div class="navbar-item">
                        <a class="button is-primary" href="/login/">
                            Connexion
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</nav>

<script>
document.addEventListener('DOMContentLoaded', () => {
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
    $navbarBurgers.forEach( el => {
        el.addEventListener('click', () => {
            const target = el.dataset.target;
            const $target = document.getElementById(target);
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');
        });
    });
});
</script>
