{% load static wagtailcore_tags wagtailuserbar %}

<nav class="bg-pink-400 overflow-hidden">
	<div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
		<div class="relative flex h-24 items-center justify-center">

			<div class="hidden sm:ml-6 sm:block">
				<div class="flex space-x-4">
					<!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->

					<a href="/chants"
					   class="bg-gray-700 text-white hover:bg-sky-400 hover:text-black rounded-md px-3 py-2 my-4 text-2xl font-medium  h-12">Chants</a>

					<div class="">
						<a href="/"> <img src="{% static 'medias/logo-scn.jpg' %}" alt="Logo" class="h-24"/></a>
					</div>

					<a href="/calendrier"
					   class="bg-gray-700 text-white hover:bg-cyan-300 hover:text-black rounded-md px-3 py-2 my-4 text-2xl font-medium  h-12">Calendrier</a>
				</div>
			</div>
		</div>
	</div>
</nav>