{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block navbar %}
{% endblock %}

{% block content %}
    <body class="container">
    <section class="content-box m-8">
        <div class="content-box-title p-8">
            <h1>{% trans "Ce site est réservé aux choristes du SCN." %}</h1>
        </div>
        <div class="content-content p-8">
            <div class="p-6 items-center">
                {% block password_required_message %}
                    <p>{% trans "Un mot de passe est requis pour y accéder." %}</p>
                    <div class="items-center m-4">
                        <img src="{% static 'medias/clef-champs.jpg' %}"
                             alt="peinture de Magritte intitulée La clef des champs"
                             class="max-h-64 h-50 border-solid border-4 border-white">
                    </div>

                {% endblock %}

                <form action="{{ action_url }}" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="{% trans 'Valider' %}" class="bg-white border-solid border-yellow-400"/>
                </form>
            </div>
        </div>
    </section>
    </body>

{% endblock %}
</html>
