{% load static wagtailcore_tags wagtailuserbar wagtailimages_tags %}
<nav class="bg-primary overflow-hidden rounded-b-lg">

    <div class="flex justify-between items-center mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 h-24">
        <div class="hidden md:flex space-x-4 justify-center mx-auto">
            <a href="/chants"
               class="bg-gray-700 text-white hover:bg-cyan-400 hover:text-black rounded-md px-3 py-2 my-4 text-2xl font-medium h-12">Chants</a>
            <div class="flex-grow">
                <a href="/"> <img src="{{ settings.home.StyleSettings.logo.file.url }}" alt="Logo"
                                  class="h-24 mx-auto"/></a>
            </div>
            <a href="/calendrier"
               class="bg-gray-700 text-white hover:bg-cyan-300 hover:text-black rounded-md px-3 py-2 my-4 text-2xl font-medium h-12">Calendrier</a>
        </div>

        <div x-data="{ open: false }" class="md:hidden bg-primary justify-center mx-auto relative">
            <button @click="open = !open" class="text-xl p-4">
                <svg width="300" height="100" xmlns="http://www.w3.org/2000/svg">
                    <!-- Cercle pour "Chants" (rose) -->
                    <circle cx="50" cy="50" r="30" fill="#67e8f9"/>
                    <!-- Cercle pour "Calendrier" (ambre) -->
                    <circle cx="130" cy="50" r="30" fill="#FCD34D"/>
                    <!-- Cercle pour "Choristes" (vert lime) -->
                    <circle cx="200" cy="50" r="30" fill="#84CC16"/>
                </svg>
            </button>

            <div x-cloak x-show="open" @click.outside="open = false"
                 class="fixed inset-0 top-0 mt-12 py-2 w-screen bg-white shadow-xl z-50" style="z-index: 100;">
                <div class=" flex items-center justify-between px-4 py-2">
                    <span></span> <!-- Espace pour aligner avec les autres éléments si nécessaire -->
                    <button @click="open = false" class="text-xl">
                        <!-- SVG de la croix pour fermer -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M6 18L18 6M6 6l12 12"/>
                        </svg>
                    </button>
                </div>
                <a href="/chants" class="block px-4 py-2 text-gray-800 hover:bg-gray-200 flex items-center text-2xl">
                    <span class="h-4 w-4 rounded-full bg-cyan-300 inline-block mr-2"></span> Chants
                </a>
                <a href="/calendrier"
                   class="block px-4 py-2 text-gray-800 hover:bg-gray-200 flex items-center text-2xl">
                    <span class="h-4 w-4 rounded-full bg-amber-300 inline-block mr-2"></span> Calendrier
                </a>
                <a href="/calendrier"
                   class="block px-4 py-2 text-gray-800 hover:bg-gray-200 flex items-center text-2xl">
                    <span class="h-4 w-4 rounded-full bg-lime-300 inline-block mr-2"></span> Choristes
                </a>
            </div>
        </div>

    </div>
    </div>
</nav>

