{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}

    <section>
        <div class="container mx-auto p-4 bg-gray-100 rounded-lg shadow">

            <h1>{{ page.title }}</h1>
            <div class="flex justify-center rounded-xl">

                <table class="min-w-full divide-y divide-gray-200 shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                    <thead class="bg-gray-50">
                    <tr>
                        <th scope="col" class="thead">
                            Date
                        </th>
                        <th scope="col" class="thead">
                            Activité
                        </th>
                        <th scope="col"
                            class="thead">
                            Pupitre
                        </th>
                        <th scope="col"
                            class="thead">
                            Commentaire
                        </th>
                    </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                    {% for event in page.get_children %}
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{ event.start_date }}</td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ event.name }}</td>
                            <!-- La classe pour pupitre est ajoutée dynamiquement en fonction de la valeur de event.pupitre -->
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 pupitre-{{ event.pupitre }}">
                                {{ event.pupitre }}
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ event.description }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>


    </section>
{% endblock %}