{% extends "base.html" %}
{% load wagtailimages_tags wagtailcore_tags static %}

{% block content %}

	<a href="..">Revenir à la page des morceaux</a>
	<div class="section"></div>
	<div class="flex flex-wrap">
    <div class="w-1/5">
		<div id="toc" class="toc bg-white shadow-lg rounded-lg p-4 m-2 max-w-[200px] sticky top-10">
			<ul class="list-none space-y-2">
				<li><a href="#title" class="toc-link text-2xl hover:text-gray-800 transition duration-300">{{page.title}}</a></li>
				<li><a href="#files" class="toc-link text-blue-600 hover:text-blue-800 transition duration-300">Fichiers</a></li>
				<li><a href="#traduction" class="toc-link text-blue-600 hover:text-blue-800 transition duration-300">Texte et traduction</a></li>
				<li><a href="#interpretation" class="toc-link text-blue-600 hover:text-blue-800 transition duration-300">Interprétation</a></li>
			</ul>
		</div>
    </div>

	<div class="container w-4/5">
		<section id="title" class="section">
			<div class="box p-4 bg-amber-700 text-white text-5xl">
			<h1 class="mt-2">{{ page.title }}</h1>
			<h3>Composé par : <strong>{{ self.compositeur }}</strong></h3>
				</div>
		</section>

		<!-- ################        PDF           ################        -->

		<section id="files" class="content bg-amber-200 p-4 rounded">

			{% if page.pdf %}
				<section class="section">
					<div id="pdf-viewer"></div>
					<div id="pdf-controls">
						<button id="prev-page">Page précédente</button>
						<span id="page-num"></span>
						<button id="next-page">Page suivante</button>
					</div>
				</section>
			{% endif %}

			<ul>
				{% for audio in page.audios %}
					{% include_block audio %}
				{% endfor %}
			</ul>

		</section>

		{% if page.traduction %}
			<section id="traduction" class="content section bg-amber-200 p-4 rounded">
				<h3>Commentaires sur la chanson</h3>
				<div class="text">{{ page.descr|richtext }}</div>
				<iframe srcdoc="{{ page.desr|richtext }}"></iframe>
			</section>
			<hr>
			<section id="interpretation" class="content section bg-amber-200 p-4 rounded">
				<h2>Traduction</h2>
				{{ page.traduction|richtext }}
			</section>
		{% endif %}
	</div>
	</div>

{% endblock %}

{% block extra_js %}
	<script type="module" src="{% static 'pdfjs/build/pdf.mjs' %}"></script>
	<script type="module">
        pdfjsLib.GlobalWorkerOptions.workerSrc = "{% static 'pdfjs/build/pdf.worker.mjs' %}";

        async function loadPdf() {
            var url = "{{ page.pdf.url |safe }}";
            var loadingTask = pdfjsLib.getDocument(url);
            loadingTask.promise.then(function (pdf) {
                pdf.getPage(1).then(function (page) {
                    // Obtenez la zone d'affichage de la page avec un scale de 1
                    var viewport = page.getViewport({scale: 1});

                    // Dimensions désirées du canvas
                    var desiredWidth = 500;
                    var desiredHeight = 800;

                    // Calculez le scale nécessaire pour que la largeur de la page PDF corresponde à la largeur du canvas
                    var scale = desiredWidth / viewport.width;

                    // Utilisez le même scale pour la hauteur si nécessaire, ou faites un calcul séparé si l'échelle doit être différente
                    // var scaleHeight = desiredHeight / viewport.height;
                    // var scale = Math.min(scaleWidth, scaleHeight);

                    // Mise à jour du viewport avec le nouveau scale
                    viewport = page.getViewport({scale: scale});

                    // Préparez le canvas avec les dimensions souhaitées
                    var canvas = document.createElement('canvas');
                    var context = canvas.getContext('2d');
                    canvas.height = desiredHeight; // Définit la hauteur du canvas
                    canvas.width = desiredWidth;  // Définit la largeur du canvas

                    // Ajoutez le canvas à l'élément HTML pour le PDF
                    var pdfViewer = document.getElementById('pdf-viewer');
                    pdfViewer.innerHTML = '';  // Effacez tout contenu précédent
                    pdfViewer.appendChild(canvas);

                    // Rendez la page dans le contexte du canvas
                    var renderContext = {
                        canvasContext: context,
                        viewport: viewport
                    };
                    page.render(renderContext);
                });
            });
        }

        loadPdf();


	</script>

	<script>
		const classes = {
			active : 'tab inline-block p-4 text-blue-600 border-b-2 border-blue-600 rounded-t-lg dark:text-blue-500 dark:border-blue-500',
			inactive : 'tab inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300'
		}

		window.addEventListener('scroll', () => {
		  document.querySelectorAll('.content').forEach((section) => {
			const top = window.scrollY;
			const offset = section.offsetTop;
			const height = section.offsetHeight;
			const id = section.getAttribute('id');

			if (top >= offset && top < offset + height) {
			  document.querySelector('.toc a[href*=' + id + ']').classList.add('active');
			} else {
			  document.querySelector('.toc a[href*=' + id + ']').classList.remove('active');
			}
		  });
		});

	</script>

	<style>

	</style>
{% endblock %}