{% extends "base.html" %}
{% load wagtailimages_tags wagtailcore_tags static %}
{% load wagtailembeds_tags %}

{% block content %}

    <a href="..">Revenir à la page des morceaux</a>

    <div class="flex flex-wrap items-center">

        <div class="container md:w-4/6 items-center">

            <section id="title" class="mt-0 rounded-xl">
                <div class="p-4 bg-secondary text-white text-3xl rounded-xl">
                    <h1 class="mt-2 text-white">{{ page.title }}</h1>
                    <p class="text-2xl"><em>- {{ self.compositeur }}</em></>
                </div>
            </section>

            <!-- ################        FICHIERS           ################        -->

            <section id="files" class="content-box">
                <div class="content-box-title">
                    <h3 class="text-white shadow-lg">Fichiers à télécharger</h3>
                </div>
                <div class="content-content">
                    <div class="grid grid-cols-1 md:grid-cols-3 md:gap-4">
                        {% if page.pdf %}
                            <div class="flex flex-col items-center p-4">
                                <a href="{{ page.pdf.url }}" target="_blank">
                                    <img src="{% static 'medias/music-sheet.png' %}" alt="music sheet icon"
                                         class="h-16 w-auto">
                                </a>
                                <div class="align-bottom">
                                    <p class="text-xl">Partition</p>
                                </div>
                            </div>
                        {% endif %}

                        {% for audio in page.audios %}
                            <div class="flex flex-col items-center">
                                <a href="{{ audio.value.audio.url }}" target="_blank">
                                    <img src="{% static 'medias/sound.png' %}" alt="logo audio" class="w-16 h-auto">
                                </a>
                                <div class="flex flex-col items-center">
                                    <p class="text-xl">{{ audio.value.pupitre }}</p>
                                    <div class="bg-secondary">
                                        <p class="text-white text-sm text-center">{{ audio.value.comment }}</p>
                                    </div>
                                </div>

                                <div class="flex flex-col items-center w-6 bg-primary">
                                    <audio controls>
                                        <source src="{{ audio.value.audio.url }}" type="audio/mp3">
                                        Votre navigateur ne supporte pas l'élément audio.
                                    </audio>
                                </div>
                            </div>
                        {% endfor %}

                    </div>


                    {% for section in page.additional_files %}
                        <hr class="h-px mt-8 border-solid border-pink-400 bg-primary">

                        <div class="">
                            <p class="bg-pink-400 text-white inline-block px-6">
                                {{ section.value.title }}
                            </p>
                        </div>
                        <div class="grid grid-cols-3 md:grid-cols-6 md:gap-4">
                            {% for file in section.value.audios %}

                                <div class="flex flex-col items-center">
                                    <a href="{{ file.audio.url }}" target="_blank">
                                        <img src="{% static 'medias/sound.png' %}" alt="logo audio" class="w-16 h-auto">
                                    </a>
                                    <div class="flex flex-col items-center">
                                        <p class="text-xl">{{ file.pupitre }}</p>
                                        <div class="bg-secondary">
                                            <p class="text-white text-sm text-center">{{ file.comment }}</p>
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}
                            {% for file in section.value.files %}
                                <div class="flex flex-col items-center">
                                    <a href="{{ file.audio.url }}" target="_blank">
                                        <img src="{% static 'medias/music-sheet.png' %}" alt="logo pdf"
                                             class="w-16 h-auto">
                                    </a>
                                    <div class="flex flex-col items-center">
                                        <p class="text-xl">{{ file.title }}</p>
                                    </div>
                                </div>
                                </div>
                            {% endfor %}
                    {% endfor %}
                </div>
            </section>

            <!----- DEBUT PRESENTATION   -------->
            {% if page.descr %}
                <section id="descr" class="content-box">
                    <div class="content-box-title">
                        <h3 class="text-white shadow-lg">Présentation de l'oeuvre</h3>
                    </div>
                    <div class="content-content">{{ page.descr|richtext }}</div>
                </section>
            {% endif %}

            <!----- FIN PRESENTATION   -------->


            <!----- DEBUT TRADUCTION   -------->
            {% if page.traduction %}
                <section id="interpretation" class="content-box">
                    <div class="content-box-title">
                        <h3 class="text-white shadow-lg">Texte et traduction</h3>
                    </div>
                    <div class="content-content">
                        {{ page.traduction|richtext }}
                    </div>
                </section>
            {% endif %}
            <!----- FIN TRADUCTION   -------->

            <!----- DEBUT INTERPRETATION   -------->

            {% if page.interpretation %}
                <section id="commentaire" class="content-box">
                    <div class="content-box-title">
                        <h3 class="text-white shadow-lg">Commentaires sur la chanson</h3>
                    </div>
                    <div class="content-content">{{ page.interpretation|richtext }}</div>
                </section>
            {% endif %}

            <!----- FIN INTERPRETATION   -------->

            {% if page.activer_timecodes %}
              {% include "blocks/_audio_mixer.html" %}
            {% endif %}

        </div>
    </div>



{% endblock %}

{% block extra_js %}

{% endblock %}