{% load wagtailcore_tags %}

{% if value.link_type == 'internal' and value.internal_page %}
    <a href="{{ value.internal_page.url }}"
       class="button {{ value.style }}"
       {% if value.open_in_new_tab %}target="_blank" rel="noopener noreferrer"{% endif %}>
        {{ value.link_text }}
    </a>
{% elif value.link_type == 'external' and value.external_url %}
    <a href="{{ value.external_url }}"
       class="button {{ value.style }}"
       {% if value.open_in_new_tab %}target="_blank" rel="noopener noreferrer"{% endif %}>
        {{ value.link_text }}
    </a>
{% endif %}