{% load wagtailcore_tags %}

<div class="box mb-3" style="border-left: 4px solid {% if event.is_repetition %}var(--third-color){% else %}var(--secondary-color){% endif %};">
    <div class="level is-mobile">
        <div class="level-left">
            <div class="level-item">
                <div>
                    <p class="has-text-weight-bold is-size-5">{{ event.name }}</p>
                    {% if event.is_repetition %}
                        <p class="has-text-info">Répétition - {{ event.pupitre }}</p>
                    {% endif %}
                    <p class="has-text-grey-dark">
                        <span class="icon"><i class="far fa-calendar"></i></span>
                        {{ event.start_date|date:"d/m/Y" }}
                    </p>
                    {% if event.end_date %}
                        <p class="is-size-7 has-text-grey">Fin: {{ event.end_date|date:"d/m/Y H:i" }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="level-right">
            <div class="level-item">
                <span class="tag is-medium {% if event.is_repetition %}is-info{% else %}is-primary{% endif %}">
                    {{ event.start_date|date:"H:i" }}
                </span>
            </div>
        </div>
    </div>
</div>
