{% load wagtailimages_tags %}

<figure class="image-block has-text-centered">
    {% if self.image %}
        {% if self.width == '160' %}
            {% image self.image max-160x160 as img %}
        {% elif self.width == '320' %}
            {% image self.image max-320x320 as img %}
        {% elif self.width == '640' %}
            {% image self.image max-640x640 as img %}
        {% elif self.width == 'full' %}
            {% image self.image original as img %}
        {% endif %}
        <img src="{{ img.url }}" alt="{{ self.caption|default:img.alt }}">
    {% endif %}
    {% if self.caption %}
        <figcaption class="image-caption">{{ self.caption }}</figcaption>
    {% endif %}
</figure>
