{% extends "base.html" %}
{% load wagtailimages_tags wagtailcore_tags static %}

{% block content %}
    <h1>{{ page.title }}</h1>

    {% for block in page.body %}
        {% include_block block %}
    {% endfor %}

    {% if page.pdf %}
    <div id="pdf-viewer"></div>
    <div id="pdf-controls">
        <button id="prev-page">Page précédente</button>
        <span id="page-num"></span>
        <button id="next-page">Page suivante</button>
    </div>

    {% endif %}

{% endblock %}

{% block extra_js %}
<script type="module" src="{% static 'pdfjs/build/pdf.mjs' %}"></script>

<script type="module">
    import * as pdfjsLib from '{% static 'pdfjs/build/pdf.mjs' %}';
    pdfjsLib.GlobalWorkerOptions.workerSrc = '{% static 'pdfjs/build/pdf.worker.min.js' %}';

    let pdfDoc = null;
    let pageNum = 1;
    let pageRendering = false;
    let pageNumPending = null;

    async function renderPage(num) {
        pageRendering = true;
        // Get page
        const page = await pdfDoc.getPage(num);
        const scale = 1.5;
        const viewport = page.getViewport({scale});
        const canvas = document.getElementById('pdf-canvas') || document.createElement('canvas');
        canvas.id = 'pdf-canvas';
        const ctx = canvas.getContext('2d');
        canvas.height = viewport.height;
        canvas.width = viewport.width;

        // Clear the canvas for new rendering
        ctx.clearRect(0, 0, canvas.width, canvas.height);

        // Render PDF page into canvas context
        const renderContext = {
            canvasContext: ctx,
            viewport: viewport
        };
        const renderTask = page.render(renderContext);

        // Wait for rendering to finish
        await renderTask.promise;
        pageRendering = false;
        if (pageNumPending !== null) {
            renderPage(pageNumPending);
            pageNumPending = null;
        }

        // Update page counters
        document.getElementById('page-num').textContent = `${num} / ${pdfDoc.numPages}`;
    }

    function queueRenderPage(num) {
        if (pageRendering) {
            pageNumPending = num;
        } else {
            renderPage(num);
        }
    }

    function onPrevPage() {
        if (pageNum <= 1) {
            return;
        }
        pageNum--;
        queueRenderPage(pageNum);
    }
    document.getElementById('prev-page').addEventListener('click', onPrevPage);

    function onNextPage() {
        if (pageNum >= pdfDoc.numPages) {
            return;
        }
        pageNum++;
        queueRenderPage(pageNum);
    }
    document.getElementById('next-page').addEventListener('click', onNextPage);

    async function loadPdf() {
        const url = "{{ page.pdf.url|safe }}";
        try {
            pdfDoc = await pdfjsLib.getDocument(url).promise;
            renderPage(pageNum);
        } catch (e) {
            console.error('Error while loading and rendering PDF: ', e);
        }
    }

    loadPdf();

    {% endblock %}

