annotated-types==0.6.0
anyascii==0.3.2
anyio==4.2.0
asgiref==3.7.2
beautifulsoup4==4.11.2
certifi==2023.11.17
charset-normalizer==3.3.2
defusedxml==0.7.1
deprecation==2.1.0
Django==4.2.9
django-filter==23.5
django-modelcluster==6.2.1
django-permissionedforms==0.1
django-taggit==4.0.0
django-treebeard==4.7
djangorestframework==3.14.0
draftjs-exporter==2.1.7
et-xmlfile==1.1.0
filetype==1.2.0
gotrue==2.1.0
gunicorn==21.2.0
h11==0.14.0
html5lib==1.1
httpcore==1.0.2
httpx==0.25.2
idna==3.6
Jinja2==3.1.3
l18n==2021.3
MarkupSafe==2.1.5
openpyxl==3.1.2
packaging==23.2
pillow==10.2.0
pillow-heif==0.14.0
postgres==4.0
postgrest==0.13.1
psycopg2-binary==2.9.9
psycopg2-pool==1.1
pydantic==2.5.3
pydantic_core==2.14.6
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2023.3.post1
realtime==1.0.2
requests==2.31.0
six==1.16.0
sniffio==1.3.0
soupsieve==2.5
sqlparse==0.4.4
storage3==0.7.0
StrEnum==0.4.15
supabase==2.3.1
supafunc==0.3.3
telepath==0.3.1
typing_extensions==4.9.0
urllib3==2.1.0
wagtail==5.2.2
wagtail-color-panel==1.5.0
webencodings==0.5.1
websockets==11.0.3
Willow==1.6.3
