@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {

    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Avenir Next";
}


@layer base {

    body {
        background-color: var(--primary-color);
    }

    .container {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        align-content: center;
        @apply p-4;
    }

    h1 {
        @apply text-4xl py-4;
        color: var(--third-color);
    }

    .link {
        background-color: var(--secondary-color);
    }

    .link:hover {
        background-color: var(--third-color);
    }

    .bg-primary {
        background-color: var(--primary-color);
    }

    .bg-secondary {
        background-color: var(--secondary-color);
    }

    .bg-third-color {
        background-color: var(--third-color);
    }

    .text-primary {
        color: var(--primary-color);
    }

    .text-secondary {
        color: var(--secondary-color);
    }

    .text-tertiary {
        color: var(--third-color);
    }

    h2 {
        @apply text-3xl py-4;
        color: var(--third-color);
    }

    h3 {
        @apply text-2xl py-4;
        color: var(--third-color);
    }

    h4 {
        @apply text-xl py-4;
        color: var(--third-color);
    }

    ul {
        @apply list-disc;
    }

    li {

    }

    section.content-box {
        @apply rounded-2xl border-2;
        border-color: var(--secondary-color);

        div.content-box-title {
            @apply rounded-t-xl;
            background-color: var(--secondary-color);

            h1 {
                color: white;
            }
        }

        div.content-content {
            @apply p-6 bg-white text-left rounded-b-xl;
        }

        ul {
            @apply list-disc;
        }

        ol {
            @apply list-decimal;
        }

        li {
            @apply list-inside;
        }
    }
}

table .thead {
    @apply px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider text-white
}

table .thead {
    background-color: var(--secondary-color)
}


.pupitre-Tutti {
    @apply text-fuchsia-600
}

.pupitre-Soprano {
    @apply text-emerald-600
}

.pupitre-Alto {
    @apply text-lime-600
}

.pupitre-Tenor {
    @apply text-cyan-600
}

.pupitre-Basse {
    @apply text-amber-600
}

.responsive-object {
    position: relative;
}

.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


section {
    margin-top: 1em;
    margin-bottom: 2em;
}

.image-block img {
    width: 100%;
    height: auto;
}

.image-block .caption {
    text-align: center;
    font-style: italic;
    color: #666;
}

.active {
    background-color: #f3f4f6;
    color: #1f2937;
}

