*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: lightblue;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightcoral;
    color: white;
}

.nav-item {
    padding: 20px;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 1%
}

.navbar img {
    height: 150px; /* Adjust the size of your logo */
}

.nav-left,
.nav-right {
    display: flex;
}

/* Add responsiveness */
@media screen and (max-width: 768px) {
    .nav-item {
        padding: 10px;
    }
}

/* Hero section */
.hero-section {
    background-color: #ebf8ff;
    text-align: center;
    padding: 5rem 1rem;
}

.hero-section h1 {
    font-size: 2.25rem;
    font-weight: 700;
    color: #2d3748;
    margin-bottom: 0.5rem;
}

.hero-section p {
    font-size: 1rem;
    color: #4a5568;
}

@media (min-width: 768px) {
    .navbar div {
        padding: 1rem 4rem;
    }

    .navbar ul {
        padding-left: 0;
    }

    .navbar li:not(:last-child) {
        margin-right: 1rem;
    }
}

.container {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-content: center;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin-top: 2em;
    margin-bottom: 2em;
}

.image-block img {
    width: 100%;
    height: auto;
}

.image-block .caption {
    text-align: center;
    font-style: italic;
    color: #666;
}

.active { background-color: #f3f4f6; color: #1f2937; }
