@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Geist Mono';
    src: url('/static/medias/Geist.Mono/GeistMono-Black.woff2') format('woff2'),
    url('/static/medias/Geist.Mono/GeistMono-Black.otf') format('otf');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Avenir Next";

}


@layer base {

    body {
        @apply bg-sky-400;
    }

    h1 {
        @apply text-3xl pb-4;
    }

    h2 {
        @apply text-2xl pb-4;
    }

    h3 {
        @apply text-xl pb-4;
    }

    ul {
        @apply list-disc;
    }

    li {

    }

    section.content-box {
        @apply bg-sky-300 rounded-2xl border-2 border-sky-700;

        div.content-box-title {
            @apply bg-sky-700 rounded-t-xl;
        }

        div.content-content {
        @apply p-6 bg-sky-100 text-left rounded-b-xl;
        }
        ul {
            @apply list-disc;
        }
        ol {
            @apply list-decimal;
        }
        li {
            @apply list-inside;
        }
    }
}

.container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-content: center;
    padding: 20px;
}

section {
    margin-top: 1em;
    margin-bottom: 2em;
}

.image-block img {
    width: 100%;
    height: auto;
}

.image-block .caption {
    text-align: center;
    font-style: italic;
    color: #666;
}

.active {
    background-color: #f3f4f6;
    color: #1f2937;
}

