{% extends "base.html" %}

{% load static wagtailcore_tags%}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}

    <!-- Main Content -->
  <header class="text-center bg-green-200 py-20">
    <h1 class="text-4xl text-gray-800 font-bold mb-2">{{ page.name }}</h1>
    <p class="text-md text-gray-600 font-light">{{ page.header }}</p>
  </header>

  <section id="about" class="py-20 bg-white">
    <div class="container mx-auto px-6">
      <h2 class="text-3xl font-bold text-center text-gray-800 mb-8">À propos de nous</h2>
      <p class="text-gray-700 text-lg text-center rich-text">{{page.body | richtext}}</p>
    </div>
  </section>

  <section id="events" class="py-20 bg-blue-100">
    <div class="container mx-auto px-6">
      <h2 class="text-3xl font-bold text-center text-gray-800 mb-8">Événements à venir</h2>
      {% for event in page.get_public_events %}
          <a href="{{ event.url }}">
              <li>
                  <p>{{ event.title }} - {{event.date |date:"d/m/Y" }}</p>
              </li>
          </a>
      {% endfor %}

    </div>
  </section>

  <!-- Footer -->
  <footer class="footer">
    <p>Contactez-nous à:</p>
    <p>Email: contact@choraleharmonie.com</p>
    <p>Téléphone: 01 23 45 67 89</p>
    <p>Adresse: 123 Avenue de la Musique, 75000 Paris, France</p>
    <div class="social-media">
      <!-- Insert social media links here -->
    </div>
  </footer>

{% endblock %}
