{% extends "base.html" %}

{% load static wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block navbar %}
{% endblock navbar %}

{% block content %}
	<div class="container items-center w-1/2 mx-auto">
		<div class="grid grid-cols-2 gap-4 place-content-stretch h-48 ...">
			<button class="w-64 h-64 bg-red-500 text-white font-bold rounded-tl-lg hover:bg-red-700">Haut Gauche
			</button>

			<!-- Bouton Haut Droit -->
			<button class="w-64 h-64 bg-green-500 text-white font-bold rounded-tr-lg hover:bg-green-700">Haut Droit
			</button>

			<!-- Bouton Bas Gauche -->
			<button class="w-64 h-64 bg-blue-500 text-white font-bold rounded-bl-lg hover:bg-blue-700">Bas Gauche
			</button>

			<!-- Bouton Bas Droit -->
			<button class="w-64 h-64 bg-yellow-500 text-white font-bold rounded-br-lg hover:bg-yellow-700">Bas Droit
			</button>

		</div>
	</div>
{% endblock %}
